# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Build
*.apk
*.aab
*.ipa
